
<div id='homecontent'>

    <div id='weylandBanner'>
        <img src='/images/weyland_logo_intro.png' alt='WEYLAND YOOOOO'></img>
    </div>

    <img id='homeLogo' src='/images/weyland_logo_resized.png' alt='Weyland-Yutani Logo'></img>

    <h1 id='homeHeading'>Thank you for Choosing Weyland</h1>

    <p class='homeP'>
    No speeches. Short speech. You lost your partner today. What's his name - Emilio? Emilio is going to prison. The DEA took all your money, your lab. You got nothing. Square one. But you know the business and I know the chemistry. I'm thinking... maybe you and I could partner up. 
    </p>

    <p id='bottomP' class='homeP'>
    I'm sorry, what were you asking me? Oh, yes, that stupid plastic container I asked you to buy. You see, hydrofluoric acid won't eat through plastic. It will, however, dissolve metal, rock, glass, ceramic. So there's that. How about something with some protein, maybe? Something green, huh? How are you even alive? 
    </p>

</div>


<style>
body{
    background-color: rgb(204, 202, 202);
}


</style>

<script>

  setTimeout( function(){
    $('#weylandBanner').css('display','none');
       },3100);

setTimeout();

</script>
