<div id='joinContent'>

    <h1 id='joinHeading'>Send us a message with FUTURE E-MAIL (name pending)</h1>

    <form method="POST" action="/join_us">
        <label id='inputHead' for="message">Your FUTURE Message:</label><br>
        <textarea name="text" rows="9" cols="50" wrap="soft"></textarea><br>
        <input id='submit' type="submit" value="FUTURE MESSAGE">
    </form>

</div>



<style>
body{
    background-color: rgb(204, 202, 202);
}

</style>