
<div id='teamContent'>
    <h1 id='teamHead'>Meet Our Team</h1>

    <div id='weylandBox'>
        <img src='/images/weyland.png' alt='Mr. Weyland'></img>
        <h2>Mr. Weyland</h2>
        <p>It's enough. This is still the best way. You go after him with a gun, you'll never get out of it alive. But with this... you slip it into his food or drink, there shouldn't be any taste or smell... thirty-six hours later... poof. A man his age, working as hard as he does... no one will be surprised. Mike can have his suspicions, but that's all they'll be. Please, one homicidal maniac at a time. </p>
    </div>

    <div id='davidBox'>
        <img src='/images/david.jpg' alt='The David Series of Android'></img>
        <h2>The David</h2>
        <p>It's enough. This is still the best way. You go after him with a gun, you'll never get out of it alive. But with this... you slip it into his food or drink, there shouldn't be any taste or smell... thirty-six hours later... poof. A man his age, working as hard as he does... no one will be surprised. Mike can have his suspicions, but that's all they'll be. Please, one homicidal maniac at a time. </p>
    </div>

    <div id='teamBox'>
        <img src='/images/crew.jpg' alt='The Fine Men and Women Working for Weyland Corp'></img>
        <h2>The Team</h2>
        <p>It's enough. This is still the best way. You go after him with a gun, you'll never get out of it alive. But with this... you slip it into his food or drink, there shouldn't be any taste or smell... thirty-six hours later... poof. A man his age, working as hard as he does... no one will be surprised. Mike can have his suspicions, but that's all they'll be. Please, one homicidal maniac at a time. </p>
        
    </div>
</div>

<style>
body{
    background-color: rgb(204, 202, 202);
}
#teamContent{
    margin: 12% 6% 0% 6%;
    font-family: Weyland;
    padding-bottom: 130px;
}
#teamHead{
    font-size: 30px;
    text-align: center;
}
#weylandBox{
    padding: 20px 20px 30px 20px;
}

#weylandBox img{
    display: inline;
    float: left;
    width: 300px;
    height: 200px;
    padding-right: 15px;
    padding-top: 10px;
}

#davidBox{
    padding: 30px 20px 30px 20px;
}

#davidBox img{
    display: inline;
    float: left;
    width: 300px;
    height: 200px;
    padding-right: 15px;
    padding-top: 10px;
}

#teamBox img{
    display: inline;
    float: left;
    width: 300px;
    height: 200px;
    padding-right: 15px;
    padding-left: 20px;
}

</style>